<input type="text" [(ngModel)]="title" />
{{ title }}

<input type="text" [(ngModel)]="power">
{{power | exponential}}

<div *ngIf="title === 'alexis'">
  este es un Alexis
</div>
<div *ngIf="title === 'sebastian'">
  este es un Sebastian
</div>
<div *ngIf="title === 'andrea'">
  este es un Andrea
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'alexis'">este es alexis</p>
  <p *ngSwitchCase="'sebastian'">este es sebastian</p>
  <p *ngSwitchCase="'andrea'">este es andrea</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">add itemName</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let itemName of items; index as i">
    {{ itemName }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>
